﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="css/style-rtl.css" rel="stylesheet" />

    <script src="scripts/jquery-3.2.1.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="scripts/bootstrap/modal.js"></script>
</head>
<body>
    <div ng-app="" class="container">
        <!--<span style="color:red">{{2+2}}</span>-->
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="#">בית</a></li>
                    <li><a href="#">מועדון הנוסע המתמיד</a></li>
                    <li><a href="#">מימוש נקודות</a></li>
                    <li class="active">השוברים שלי</li>
                </ol>
            </div>
            <div class="col-sm-12">
                <h1>השוברים שלי</h1>
                <p>בטבלה הבאה מופיעים כל השוברים אותם הנפקת עבור אחד מהשותפים</p>
                <select>
                    <option>כל השותפים</option>
                    <option>שותף 1</option>
                    <option>שותף 2</option>
                    <option>שותף 3</option>
                </select>
                <!--<div class="btn-group btn-group-lg mfe-btn-group" data-toggle="buttons">
                    <label class="btn btn-info active" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked=""><span>לא</span>
                    </label>
                    <label class="btn btn-info" data-toggle="collapse" data-target="#profile" aria-expanded="true" aria-controls="profile">
                        <input type="radio" name="options" id="option2" autocomplete="off"> <span>כן</span>
                    </label>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">שם שותף</div>
            <div class="col-sm-2">שם שובר</div>
            <div class="col-sm-1">מספר אישור</div>
            <div class="col-sm-2">קוד קופון</div>
            <div class="col-sm-1">תוקף</div>
            <div class="col-sm-1">ת.מימוש</div>
            <div class="col-sm-1">נקודות</div>
            <div class="col-sm-1">תשלום לשותף</div>
            <div class="col-sm-2">תנאי ההטבה</div>
        </div>
        <div class="row">
            <div class="col-sm-1">AirCruise</div>
            <div class="col-sm-2">Aircruise 100$ Discount</div>
            <div class="col-sm-1"><a href="#">123456789</a></div>
            <div class="col-sm-2">65464654685</div>
            <div class="col-sm-1">13/07/18</div>
            <div class="col-sm-1">15/07/18</div>
            <div class="col-sm-1">300</div>
            <div class="col-sm-1">200 ש"ח</div>
            <div class="col-sm-2">

                <button type="button" ng-click="phoneEdit=true" class="btn btn-info">טלפון</button>
                <div ng-show="phoneEdit">
                    <div class="phone-edit-box">
                        <h5>ערוך טלפון</h5>
                        <input type="text" placeholder="050-1234567" />
                        <div>שים לב השמירה תשמור את הפרטים......</div>
                        <button ng-click="confirm=true" class="btn btn-default">שמור ושלח</button>
                        <div ng-show="confirm">הפרטים נשמרו והשובר נשמר בהצלחה</div>
                        <span ng-click="phoneEdit=false">close</span>
                    </div>
                </div>

                <button type="button" ng-click="emailEdit=true" class="btn btn-info">דוא"ל</button>
                <div ng-show="emailEdit">
                    <div class="phone-edit-box">
                        <h5>ערוך כתובת דואר אלקטרוני</h5>
                        <input type="text" placeholder="email@email.com" />
                        <span ng-click="emailEdit=false">close</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
